.WeatherWidget {
  display: flex;
  align-items: center;
  visibility: hidden;
}

.WeatherDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* ensures everything stays left-aligned */
  font-size: 16px;
  color: var(--color-primary);
  margin-left: 10px;
  font-weight: 500;
}

.WeatherDetails span:first-child {
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 5px;
}

.WeatherDetails span:nth-child(2) {
  padding-top: 5px;
}

.WeatherLocation {
  margin-top: 5px;
  font-size: 0.75rem;
  color: var(--color-accent);
}

@media (min-width: 600px) {
  .WeatherWidget {
    visibility: visible;
  }
}
