.WeatherWidget {
  display: flex;
  align-items: center;
  visibility: hidden;
  cursor: pointer;
  border-radius: 8px;
  padding: 5px;
  transition: background-color 0.2s;
}

.WeatherWidget:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* This class correctly disables the widget's interactive styles */
.WeatherWidgetDisabled {
  cursor: default;
  pointer-events: none;
}

.WeatherWidgetDisabled:hover {
  background-color: transparent; /* Ensures no hover effect when disabled */
}

.WeatherDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--color-primary);
  margin-left: 12px;
  font-weight: 500;
}

.WeatherDetails span:first-child {
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 5px;
}

.WeatherDetails span:last-child {
  padding-top: 5px;
}

@media (min-width: 600px) {
  .WeatherWidget {
    visibility: visible;
  }
}

.WeatherIconBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WeatherLocation {
  margin-top: -2px;
  font-size: 0.75rem;
  color: var(--color-accent);
  text-align: center;
}

.WeatherIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  margin-top: -5px;
}

.WeatherDetailsAddl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--color-primary);
  margin-left: 13px;
  font-weight: 500;
}

.WeatherDetailsAddl span:first-child {
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 5px;
}

.WeatherDetailsAddl span:last-child {
  padding-top: 5px;
}
