.SettingsButton {
  width: 35px;
  height: 35px;
  background-color: var(--color-accent);
  border-radius: 50%;
  position: fixed;
  bottom: var(--spacing-ui);
  left: var(--spacing-ui);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.25;
  transition: all 0.3s;
  visibility: hidden;
}

.SettingsButton:hover {
  cursor: pointer;
  opacity: 1;
}

@media (min-width: 769px) {
  .SettingsButton {
    visibility: visible;
  }
}

.HomeSpace {
  height: 20px;
}

.toggleButton {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-right: 6px;
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
}

.categoryTitle {
  display: flex;
  align-items: center;

  margin: 0 0 0.3rem;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-accent);
  text-transform: uppercase;
}

.SmallIcon {
  width: 30px;
  height: 30px;
  margin-right: 3px;
  vertical-align: middle;
}

.isExpanded {
  transform: rotate(90deg);
}
