.Header h1 {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 4em;
  display: inline-block;
}

.Header p {
  color: var(--color-primary);
  font-weight: 300;
  text-transform: uppercase;
  height: 30px;
}

.HeaderMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.SettingsLink {
  visibility: visible;
  color: var(--color-accent);
}

.WeatherClickTarget {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
}

.WeatherClickTarget:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.WeatherClickTarget.disabled {
  cursor: default;
}

.WeatherClickTarget.disabled:hover {
  background-color: transparent;
}

@media (min-width: 769px) {
  .SettingsLink {
    visibility: hidden;
  }
}
